.transition-appear {
    opacity: 0.01;
}

.transition-appear.transition-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}
.transition-enter {
    opacity: 0.01;
}

.transition-enter.transition-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.transition-exit {
    opacity: 1;
}

.transition-exit.transition-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
